.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table thead {
  text-transform: uppercase;
}

.table tr:nth-child(even) {
  background-color: #b0fff0;
}

.table tbody tr:hover,
.table thead {
  background-color: #000529;
  color: #fff;
}

.table th,
.table td {
  padding: 20px;
  border: 1px solid #dedede;
}
